:root {
    font-size: 16px;
}
body {
    font-family: 'Fira Sans', 'Source Sans Pro', sans-serif;
}
a.navbar-brand, a.navbar-brand:hover {
    font-weight: 500;
    padding: 0.25em 0.5em;
    text-decoration: none;
}
h2 {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.2rem;
    text-align: center;
}
a {
    color: unset;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.runner-state a, .job-state a {
    text-decoration: underline;
}
.node {
    margin: 0.75rem 0;
    line-height: 1.4em;
    font-size: .9rem;
    display: block;
    position: relative;
    padding: 0.6rem 1rem 0.5rem 3.125rem;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}
.node::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    left: 1rem;
    top: calc(50% - 0.625rem);
    background-size: cover;
}
.node.job-pending::before {
    background-image: url("icons/job-pending.svg");
}
.node.job-in-progress::before {
    background-image: url("icons/job-in-progress.svg");
}
.node.runner-queued::before {
    background-image: url("icons/runner-queued.svg");
}
.node.runner-starting::before, .node.runner-listening::before {
    background-image: url("icons/runner-waiting.svg");
}
.node.runner-running::before {
    background-image: url("icons/runner-running.svg");
}
.node:target {
    background: rgb(244, 251, 255);
    border-color: rgb(125, 173, 199);
}
.node .head {
    display: block;
    font-size: 1rem;
}
.node .head .name {
    font-weight: 500;
}
.internal-id {
    font-size: .8rem;
    color: var(--bs-gray);
}
.foreign-runner-name {
    font-style: italic;
}
.col-placeholder {
    text-align: center;
    color: var(--bs-gray);
}
