<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>slurmactiond</title>
</head>
<body>
<nav class="navbar bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="">slurmactiond</a>
    </div>
</nav>
<div class="container pt-3">
<div class="row">
    <div id="active-jobs" class="col-12 col-md-6">
        <h2>Tracked Workflow Jobs</h2>
        {%- for job in active_jobs %}
        <div class="node job-{% if job.state.in_progress is defined %}in-progress{% else %}pending{% endif %}" id="job-{{ job.info.id }}">
        <span class="head">
            <a href="{{ job.info.url }}" class="name job-name">{{ job.info.name }}</a>
            <span class="internal-id" title="GitHub workflow job ID">(#{{ job.info.id }})</span>
        </span>
        {%- if job.state.in_progress is defined and job.state.in_progress.scheduled is defined %}
        {%- set rid = job.state.in_progress.scheduled %}
        {%- set runner = active_runners | filter(attribute="info.id", value=rid) | first %}
        {%- if runner and runner.info.metadata %}
        <span class="job-state">in progress on <a href="#runner-{{ rid }}">{{ runner.info.metadata.runner_name }}</a> <span class="internal-id">(#{{ rid }})</span></span>
        {%- else %}
        <span class="job-state">in progress on runner #{{ rid }}</span>
        {%- endif %}
        {%- elif job.state.in_progress is defined and job.state.in_progress.foreign is defined %}
        <span class="job-state"> in progress on foreign runner <span class="foreign-runner-name">{{ job.state.in_progress.foreign }}</span></span>
        {%- else %}
        <span class="job-state">pending for {% if job.state.pending | length > 1 %}one of{% endif %}
        {%- for label in job.state.pending %}
        <span class="badge rounded-pill">{{ label }}</span>
        {%- endfor %}
        </span>
        {%- endif %}
        <span class="time" data-when="{{ job.state_changed_at }}"></span>
        </div>
        {%- endfor %}
        {%- if not active_jobs %}
        <div class="col-placeholder">No active jobs.</div>
        {%- endif %}
    </div>
    <div id="active-runners" class="col-12 col-md-6">
        <h2>Active Runners</h2>
        {%- for runner in active_runners %}
        <div class="node runner-{%- if runner.state.running is defined %}running{% else %}{{ runner.state | lower }}{% endif %}" id="runner-{{ runner.info.id }}">
        <span class="head">
            <span class="name runner-name">{% if runner.info.metadata %}{{ runner.info.metadata.runner_name }}{% else %}unnamed {{ runner.info.target }}{% endif %}</span>
            <span class="internal-id">(<span title="slurmactiond-internal runner ID">#{{ runner.info.id }}</span>, {{ runner.info.target }}{% if runner.info.metadata %} on {{ runner.info.metadata.host_name }}{% endif %})</span>
        </span>
        {%- if runner.state.running is defined %}
        {%- set jid = runner.state.running %}
        {%- set job = active_jobs | filter(attribute="info.id", value=jid) | first %}
        {%- if job %}
        <span class="runner-state">running <a href="#job-{{ jid }}">{{ job.info.name }}</a> <span class="internal-id">(#{{ jid }})</span></span>
        {%- else %}
        <span class="runner-state">running workflow job #{{ jid }}</span>
        {%- endif %}
        {%- elif runner.state == "listening" %}
        <span class="runner-state">listening for jobs</span>
        {%- elif runner.state == "starting" %}
        <span class="runner-state">starting up</span>
        {%- else %}
        <span class="runner-state">queued in SLURM</span>
        {%- endif %}
        <span class="time" data-when="{{ runner.state_changed_at }}"></span>
        </div>
        {%- endfor %}
        {%- if not active_runners %}
        <div class="col-placeholder">No active runners.</div>
        {%- endif %}
    </div>
</div>
{%- if job_history or runner_history %}
<div class="row">
    <div id="job-history" class="col-12 col-md-6">
        {%- if full_job_history_len > 0 %}
        <h3>Workflow Job History</h3>
        {%- for job in job_history %}
        {%- if job.termination == "completed_with_success" %}
        {%- set job_class = "job-success" %}
        {%- elif job.termination == "completed_with_failure" %}
        {%- set job_class = "job-failed" %}
        {%- elif job.termination == "cancelled" or job.termination == "skipped" %}
        {%- set job_class = "cancelled" %}
        {%- else %}
        {%- set job_class = "error" %}
        {%- endif %}
        <div class="node {{ job_class }}" id="job-{{ job.info.id }}">
            <span class="head">
                <a href="{{ job.info.url }}" class="name job-name">{{ job.info.name }}</a>
                <span class="internal-id" title="GitHub workflow job ID">(#{{ job.info.id }})</span>
            </span>
            <span class="job-state">
            {%- if job.termination == "completed_with_success" %}
            succeeded
            {%- elif job.termination == "completed_with_failure" %}
            failed
            {%- elif job.termination == "cancelled" %}
            cancelled
            {%- elif job.termination == "skipped" %}
            skipped
            {%- elif job.termination == "failed" %}
            failed to start
            {%- elif job.termination == "timed_out" %}
            timed out
            {%- endif %}
            {%- if job.assignment %}
            on
            {%- if job.assignment.scheduled is defined %}
            runner #{{ job.assignment.scheduled }}
            {%- else %}
            foreign runner {{ job.assignment.foreign }}
            {%- endif %}
            {%- endif %}
            </span>
            <span class="time" data-when="{{ job.terminated_at }}"></span>
        </div>
        {%- endfor %}
        {%- endif %}
        {%- if full_job_history_len > 1 %}
        <div class="history-total">{{ full_job_history_len }} finished jobs total since startup</div>
        {%- endif %}
    </div>
    <div id="runner-history" class="col-12 col-md-6">
        {%- if full_runner_history_len > 0 %}
        <h3>Runner History</h3>
        {%- for runner in runner_history %}
        {%- if runner.termination.completed is defined %}
        {%- set runner_class = "runner-completed" %}
        {%- else %}
        {%- set runner_class = "error" %}
        {%- endif %}
        <div class="node {{ runner_class }}" id="runner-{{ runner.info.id }}">
            <span class="head">
                <span class="name runner-name">{% if runner.info.metadata %}{{ runner.info.metadata.runner_name }}{% else %}unnamed {{ runner.info.target }}{% endif %}</span>
                <span class="internal-id">(<span title="slurmactiond-internal runner ID">#{{ runner.info.id }}</span>, {{ runner.info.target }}{% if runner.info.metadata %} on {{ runner.info.metadata.host_name }}{% endif %})</span>
            </span>
            {%- if runner.termination.completed is defined %}
            <span class="runner-state">completed workflow job #{{ runner.termination.completed }}</span>
            {%- elif runner.termination == "listening_timeout" %}
            <span class="runner-state">timed out listening for jobs</span>
            {%- else %}
            <span class="runner-state">failed</span>
            {%- endif %}
            <span class="time" data-when="{{ runner.terminated_at }}"></span>
        </div>
        {%- endfor %}
        {%- endif %}
        {%- if full_runner_history_len > 1 %}
        <div class="history-total">{{ full_runner_history_len }} finished runners total since startup</div>
        {%- endif %}
    </div>
</div>
{%- endif %}
</div>
<script src="static/time.js"></script>
</body>
</html>
