<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <title>slurmactiond</title>
</head>
<body>
<h1><a href="">slurmactiond</a></h1>
<div class="container">
    <div class="col col-jobs">
        <h2>Tracked Workflow Jobs</h2>
        {%- for jid in jobs_order %}
        {%- set jinfo = jobs[jid] %}
        <div class="node job{% if jinfo.state.InProgress is defined %} job-in-progress{% endif %}" id="job-{{ jid }}">
            <span class="head">
                <a href="{{ jinfo.url }}" class="name job-name">{{ jinfo.name }}</a>
                <span class="internal-id" title="GitHub workflow job ID">(#{{ jid }})</span>
            </span>
            {%- if jinfo.state.InProgress is defined %}
            {%- set rid = jinfo.state.InProgress %}
            {%- if rid | as_str in runners and runners[rid].metadata %}
            <span class="job-state">in progress on <a href="#runner-{{ rid }}">{{ runners[rid].metadata.runner_name }}</a> <span class="internal-id">(#{{ rid }})</span></span>
            {%- else %}
            <span class="job-state">in progress on runner #{{ rid }}</span>
            {%- endif %}
            {%- elif jinfo.state.InProgressOnForeignRunner is defined %}
            <span class="job-state"> in progress on foreign runner <span class="foreign-runner-name">{{ jinfo.state.InProgressOnForeignRunner }}</span></span>
            {%- else %}
            {%- if jinfo.state.Pending | length == 1 %}
            <span class="job-state">pending for {{ jinfo.state.Pending[0] }}</span>
            {%- else %}
            <span class="job-state">pending for one of [{% for label in jinfo.state.Pending %}{{ label }}{% if not loop.last %}, {% endif %}{% endfor %}]</span>
            {%- endif %}
            {%- endif %}
        </div>
        {%- endfor %}
        {%- if not jobs %}
        <div class="placeholder">No active jobs.</div>
        {%- endif %}
    </div>
    <div class="col col-runners">
        <h2>Active Runners</h2>
        {%- for rid in runners_order %}
        {%- set rinfo = runners[rid] %}
        <div class="node runner{% if rinfo.state.Running is defined %} runner-running{% endif %}" id="runner-{{ rid }}">
            <span class="head">
                <span class="name runner-name">{% if rinfo.metadata %}{{ rinfo.metadata.runner_name }}{% else %}Unnamed{% endif %}</span>
                <span class="internal-id">(<span title="slurmactiond-internal runner ID">#{{ rid }}</span>, {{ rinfo.target }}{% if rinfo.metadata %} on {{ rinfo.metadata.host_name }}{% endif %})</span>
            </span>
            {%- if rinfo.state.Running is defined %}
            {%- set jid = rinfo.state.Running %}
            {%- if jid | as_str in jobs %}
            <span class="runner-state">running <a href="#job-{{ jid }}">{{ jobs[jid].name }}</a> <span class="internal-id">(#{{ jid }})</span></span>
            {%- else %}
            <span class="runner-state">running workflow job #{{ jid }}</span>
            {%- endif %}
            {%- elif rinfo.state == "Waiting" %}
            <span class="runner-state">waiting for job assignment</span>
            {%- else %}
            <span class="runner-state">queued in SLURM</span>
            {%- endif %}
        </div>
        {%- endfor %}
        {%- if not runners %}
        <div class="placeholder">No active runners.</div>
        {%- endif %}
    </div>
</div>
</body>
</html>